<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="aisha3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <aisha3.Properties.Settings>
      <setting name="FormBorderColor" serializeAs="String">
        <value />
      </setting>
      <setting name="LastWinLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="YaMapHttp" serializeAs="String">
        <value>https://yandex.ru/maps/2/saint-petersburg/?ll=EEEEEE%2CNNNNNN&amp;mode=usermaps&amp;source=constructorLink&amp;um=constructor%3A5189c3416d5e71c2ba584afc0aa18a7c98531b986eaaa019fa112381f6a4c6f8&amp;z=16</value>
      </setting>
      <setting name="CustomRiba" serializeAs="String">
        <value> - выполнено то-то и то-то;</value>
      </setting>
      <setting name="mssqldb" serializeAs="String">
        <value />
      </setting>
      <setting name="mssqluser" serializeAs="String">
        <value />
      </setting>
      <setting name="mssqlpass" serializeAs="String">
        <value />
      </setting>
      <setting name="mssqlcatalog" serializeAs="String">
        <value />
      </setting>
    </aisha3.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>